table{
    padding: 15px;
    background-color: aquamarine;
    color: red;
    border-radius: 14px;
    border-style: dashed;
    
}
html body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}